@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.partition {
  border-width: 0 0 1px;
  border-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 0%, 0.5) 50%,
    hsla(0, 0%, 100%, 0) 100%) 0 0 100%;
  border-style: solid;
}

/* -------------------------------
 * 基本情報
 * ------------------------------*/
.introduce {
  margin: 100px 60px;
  overflow: hidden;
	transition-duration: 0.8s;	/*変化に掛かる時間*/
}
.introduce:hover {
  transform: scale(1.15);	/*画像の拡大率*/
}
.introduce .left_content {
  float: left;
  width: 52%;
  text-align: center;
}
.introduce .right_content {
  float: right;
  width: 48%;
}
.left_content .image {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 2px solid #444;
}
.left_content .image:hover {
  animation: spin 10s linear infinite;
}
@keyframes spin  {
   0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
@-moz-keyframes spin  {
   0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
@-webkit-keyframes spin {
   0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.item-list {
  list-style: none;
}
.item-list li {
  font-size: 2.2rem;
  letter-spacing: 2px;
  line-height: 3em;
  transition: all 0.15s;
  border: 1px solid #444;
  border-radius: 5px;
  color:  #444;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  padding: 2px 8px;
  margin-bottom: 8px;
}
.item-list li:hover {
  color: #d03c56;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  border: 1px solid #eee;
}

/* -------------------------------
 * 生い立ち
 * ------------------------------*/
.history_list {
  margin: 10px 50px 70px;
}
.info_content {
  float: left;
}
.info_content span {
  display: block;
  margin-top: 10px;
  margin-bottom: 8px;
}
.content_label {
  text-align: center;
  display: inline-block;
  padding: 4px;
  border-radius: 4px;
  font-size: 1.3rem;
  float: right;
}
.info_content .other {
  background-color: #ffb7b7;
}
.info_content .programming {
  background-color: #b7ffb7;
}
.info_content .intern {
  background-color: #b7ffff;
}
.info_content .ivent {
  background-color: #ffffb7;
}
.info_content .contet {
  background-color: #dbb7ff;
}
.history_list ul {
  display: block;
  height: 100px;
  list-style: none;
}
.history_list ul li, .info_content {
  display: inline-block;
  margin-top: 30px;
}
.info_content {
  width: 125px;
  font-size: 1.5rem;
}

.vertical_line {
  display: inline-block;
  height: 100%;
  width: 1px;
  background-color: #000;
  margin: 25px 0 0 10px;
  vertical-align: top;
}
.head_content {
 	position: relative;
  display: inline-block;
 	margin: 1.5em 0 1.5em 10px;
  padding: 20px 30px 20px 20px;
  height: 90%;
  max-width: 80%;
 	background: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
  font-size: 1.8em;
  line-height: 1.5em;
  color: #444;
  white-space: nowrap;
  overflow : hidden;
  text-overflow: ellipsis;
  transition: all 0.3s linear;
}
.head_content p{
  font-size: 0.8em;
  display: inline;
}
.head_content::before {
  position: absolute;
  display: none;
	content: "";
	top: 60%;
	left: 0px;
 	margin-top: -15px;
	border: 15px solid transparent;
  border-right: 15px solid #fff;
}
.head_content:hover {
  position: relative;
  height: 200%;
  width: 80%;
  top: -60%;
  z-index: 9999;
  background-color: #ffb7b7;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  white-space: initial;
  overflow: visible;
}
.head_content:hover::before {
  display: block;
  left: -30px;
  border-right: 15px solid #ffb7b7;
}

/* -------------------------------
 * 外部ドメインへの遷移
 * ------------------------------*/
.external_page {
  letter-spacing: 1px;
  text-align: center;
}
.external_page ul {
  display: inline-block;
  list-style: none;
  margin: 6px 0;
}
.external_page ul li {
  display: inline-block;
  margin-right: 10em;
}
.external_page ul li:last-child { /* 上でできたマージンは最後に入らないので相殺　*/
  margin-right: 0;
}
.external_page ul li a {
  text-decoration: none;
  color: #000;
  transition: all 0.15s;
  font-weight: bold;
  font-size: 1.1em;
}
.external_page ul li a:hover {
  color: #d03c56;
  font-size: 1.2em;
}
footer {
  margin-bottom: 30px;
  line-height: 40px;
  text-align: center;
}
